<div data-ng-controller="ChangePasswordCtrl">
	<aside id="nav-container">
		<div id="nav-wrapper">
			<ul id="nav" data-collapse-nav data-slim-scroll data-highlight-active>
				<li><a data-ng-click="back()"><i class="fa fa-arrow-left"><span class="icon-bg bg-danger"></span></i><span data-i18n="Back"></span> </a></li>
				<li><a ui-sref="user.Profile"><i class="fa fa-key"><span class="icon-bg bg-warning"></span></i><span data-i18n="Profile"></span> </a></li>
			</ul>
		</div>
	</aside>
	<section id="content" class="animate-fade-up">
		<div class="view-container">
			<div class="page page-profile">
				<div class="row">
					<div class="col-md-12">
						<section class="panel panel-default">
							<div class="panel-heading"><strong><i class="fa fa-key"></i> Change Password</strong></div>
							<div class="panel-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Old password</label>
									<input type="password" class="form-control" placeholder="Old Password">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">New Password</label>
									<input type="password" data-ng-model="newPassword" class="form-control" placeholder="New Password">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Retype new Password</label>
									<input type="password" data-ng-model="retypeNewPassword" class="form-control" placeholder="Retype New Password">
								</div>
								<button type="button" class="btn btn-primary" data-ng-click="changePassword()">Submit</button>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>