<section id="content" class="animate-fade-up" ng-controller="CreateAgendaCtrl">
	<div class="view-container">
		<div class="page page-profile">
			<div ng-hide="preview">
				<form ng-submit="submit()">
					<section class="panel panel-profile">
						<div class="col-md-12">
							<div class="form-group margin-top-15">
								<label>{{ 'Meeting Name' | translate }}</label>
								<input type="text" class="form-control" ng-model="meeting.name" required />
							</div>
							<hr>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-4">
							<ul class="list-unstyled">
								<li class="margin-bottom-10">
									<i class="fa fa-clock-o"></i>
									<label>{{ 'Time' | translate}}</label><br>
									<div class="ui-datepicker">
										<input type="text"
										class="form-control date-picker"
										datepicker-popup="dd/MM/yyyy"
										ng-model="meeting.meetingTime"
										is-open="newTask.datePopupOpen"
										ng-required="true"
										ng-click="newTask.datePopupOpen=true"
										close-text="{{ 'Close' | translate }}">
									</div>
									<div ng-model="mytime" ng-change="changed()" style="display:inline-block;">
									<timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
								</div>
								</li>
								<li class="margin-bottom-10">
									<i class="fa fa-globe"></i>
									<label>{{ 'Location' | translate }}</label><br>
									<input type="text" class="form-control" ng-model="meeting.location" />
								</li>
								<li class="margin-bottom-10">
									<i class="fa fa-users"></i>
									<label>{{ 'Group' | translate }}</label><br>
									<select
										class="form-control"
										ng-model="meetingGroupID"
										ng-options="group.ID as group.name for group in groups">
									</select>
								</li>
								<li class="margin-bottom-10">
									<i class="fa fa-wifi"></i>
									<label>{{ 'Type' | translate }}</label><br>
									<select
										class="form-control"
										ng-model="meeting.isOnline"
										ng-options="bool.value as bool.name for bool in onlineStatus">
									</select>
								</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<p class="size-h4">Participants</p>
							<div class="clearfix margin-bottom-10"></div>
							<ul class="list-unstyled list-info">
								<li ng-repeat="participant in meeting.participantList">
									{{ participant.name}}
								</li>
							</ul>
							<label ng-show="users.length>0">{{ 'Add more participant' }}</label><br>
							<div class="form-group">
								<select
									ng-show="users.length>0"
									class="form-control margin-bottom-10"
									ng-model="addedParticipant"
									ng-options="user as user.name for user in users track by user.ID">
								</select>
								<button type="button" class="btn btn-success btn-block" ng-click="addParticipant()" ng-show="addedParticipant">{{ 'Add' | translate }}</button>
							</div>
						</div>
						<div class="col-sm-4">
							<ul class="list-unstyled list-info">
								<li>
									<label>Model</label><br>
									Board of Directors Meeting
								</li>
								<li>
									<label>Status:</label>
									<ul>
										<li>Agenda locked</li>
										<li>The Protocol was not sent</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<hr>
						<div class="col-md-3 margin-bottom-20">
							<a class="btn btn-primary btn-block margin-top-0" ng-click="preview = true" ng-hide="preview">
							{{ 'Preview' | translate }}</a>
							<a class="btn btn-primary btn-block" ng-click="stopEditing=true" ng-hide="stopEditing">
							{{ 'Stop editing' | translate }}</a>
							<a class="btn btn-primary btn-block" ng-click="stopEditing=false" ng-show="stopEditing">
							{{ 'Continue editing' | translate }}</a>
							<a class="btn btn-primary btn-block" ng-click="sendInvitation()" ng-show="stopEditing">
							{{ 'Send invitations' | translate }}</a>
							<a class="btn btn-primary btn-block" ng-click="viewPDF()" ng-show="stopEditing">
							{{ 'View PDF' | translate }}</a>
							<a class="btn btn-primary btn-block" ng-click="askForComments()" ng-show="stopEditing">
							{{ 'Ask for comments' | translate }}</a>
							<a class="btn btn-danger btn-block" ng-click="submit()" ng-show="stopEditing">
							{{ 'Submit' | translate }}</a>
						</div>
						<div class="col-md-9 margin-bottom-20">
							<div ng-show="stopEditing && !meeting.agenda.content">
							{{ '[Agenda content]' | translate }}</div>
							<div ng-bind-html="meeting.agenda.content" ng-show="stopEditing"></div>
							<textarea class="tinymce" ui-tinymce ng-model="meeting.agenda.content" ng-hide="stopEditing" style="height: 500px"></textarea>
							<button class="btn btn-primary margin-top-10" type="submit" ng-hide="stopEditing">{{ 'Submit' | translate }}</button>
						</div>
						<div class="clearfix margin-top-20"></div>
					</section>
				</form>
			</div>
		</div>
	</div>
	<div id="meeting-pdf" ng-show="preview">
		<div class="page page-profile">
			<section class="panel panel-profile">
				<div class="col-md-12">
					<div class="form-group margin-top-15">
						<h3>{{ meeting.name || '[Meeting name]' | translate }}<h3>
					</div>
					<hr>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-4">
					<ul class="list-unstyled">
						<li class="margin-bottom-10">
							<i class="fa fa-clock-o"></i>
							<label>{{ 'Time' | translate}}</label><br>
							<p>{{ meeting.meetingTime | amDateFormat:'MMMM Do YYYY, h:mm a' }}</p>
						</li>
						<li class="margin-bottom-10">
							<i class="fa fa-globe"></i>
							<label>{{ 'Location' | translate }}</label><br>
							<p>{{ meeting.location || '[Meeting location]' | translate }}</p>
						</li>
						<li class="margin-bottom-10">
							<i class="fa fa-users"></i>
							<label>{{ 'Group' | translate }}</label><br>
							<p>{{ meeting.group.name }}</p>
						</li>
						<li class="margin-bottom-10">
							<i class="fa fa-wifi"></i>
							<label>{{ 'Type' | translate }}</label><br>
							<p ng-show="isOnline">{{ 'Online' | translate }}</p>
							<p ng-hide="isOnline">{{ 'Offline' | translate }}</p>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<p class="size-h4">Participants</p>
					<div class="clearfix margin-bottom-10"></div>
					<ul class="list-unstyled list-info">
						<li ng-repeat="participant in meeting.participantList">
							{{ participant.name}}
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<ul class="list-unstyled list-info">
						<li>
							<label>Model</label><br>
							Board of Directors Meeting
						</li>
						<li>
							<label>Status:</label>
							<ul>
								<li>Agenda locked</li>
								<li>The Protocol was not sent</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-md-12 margin-bottom-20">
					<div ng-hide="meeting.agenda.content">{{ '[Agenda content]' | translate }}</div>
					<div ng-bind-html="meeting.agenda.content"></div>
				</div>
				<div class="clearfix margin-top-20"></div>
			</section>
		</div>
	</div>
	<div class="col-md-12">
		<button class="btn btn-danger margin-top-10" type="button" ng-click="preview=false" ng-show="preview">{{ 'Close Preview' | translate }}</button>
	</div>
	<!-- Modal -->
	<script type="text/ng-template" id="viewPDF">
		<div class="modal-body">
			<iframe id="viewer" style="width: 100%; height: 100%; border: none"></iframe>
		</div>
		<div class="modal-footer">
			<a
				id="pdf-download"
				class="btn btn-success">{{ 'Download PDF' | translate }}</a>
			<button
				class="btn btn-warning"
				ng-click="close()">{{ 'Close' | translate }}</button>
		</div>
	</script>
	<script type="text/ng-template" id="sendAgenda">
		<div class="modal-header">
			<h3>{{ 'Send Agenda' | translate }}</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">{{ 'To' | translate }}</span>
					<input class="form-control" type="text" ng-model="sendAgendaTo" />
					<span class="input-group-addon" style="padding: 5px 12px" ng-hide="CCshown">
						<button class="btn btn-success btn-xs" ng-click="CCshown=true">{{ 'CC' | translate }}</button>
					</span>
				</div>
			</div>
			<div class="form-group" ng-show="CCshown">
				<div class="input-group">
					<span class="input-group-addon">{{ 'CC' | translate }}</span>
					<input class="form-control" type="text" ng-model="sendAgendaCC" />
					<span class="input-group-addon" style="padding: 5px 12px">
						<button class="btn btn-danger btn-xs" ng-click="CCshown=false">{{ 'Hide' | translate }}</button>
						<button class="btn btn-success btn-xs" ng-hide="BCCshown" ng-click="BCCshown=true">{{ 'BCC' | translate }}</button>
					</span>
				</div>
			</div>
			<div class="form-group" ng-show="BCCshown">
				<div class="input-group">
					<span class="input-group-addon">{{ 'BCC' | translate }}</span>
					<input class="form-control" type="text" ng-model="sendAgendaBCC" />
					<span class="input-group-addon" style="padding: 5px 12px">
						<button class="btn btn-danger btn-xs" ng-click="BCCshown=false">{{ 'Hide' | translate }}</button>
					</span>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="sendAgendaSubject" placeholder="{{ 'Subject' | translate }}" />
			</div>
			<div class="form-group">
				<textarea class="form-control" ng-model="sendAgendaContent" placeholder="{{ 'Content' | translate }}" rows="6">
				</textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button
				class="btn btn-success"
				ng-click="send('agenda')">{{ 'Send Agenda' | translate }}</a>
			<button
				class="btn btn-warning"
				ng-click="close()">{{ 'Cancel' | translate }}</button>
		</div>
	</script>
<!-- end Modal -->
</section>