<section id="content" class="animate-fade-up" data-ng-controller="MyTasksCtrl">
	<div class="view-container">
		<div class="page page-tasks">
			<div class="row">
				<div class="col-sm-9">
					<div class="clearfix"></div>
					<section class="task-container">
						<form data-ng-submit="add()" class="add-task">
							<h4>{{ 'Create new task' | translate }}</h4>
							<div class="alert alert-warning">
								<div class="row">
									<div class="col-md-2 text-right padding-top-5">
										{{ 'Description' | translate }}
									</div>
									<div class="col-md-10">
										<input type="text" placeholder="{{ 'Description' | translate }}" class="form-control" data-ng-model="newTask.description" autofocus>
									</div>
								</div>
								<div class="margin-top-10 clearfix"></div>
								<div class="row">
									<div class="col-md-2 text-right padding-top-5">
										{{ 'Assigned to' | translate }}
									</div>
									<div class="col-md-3">
										<select class="form-control" data-ng-model="newTask.assignedByUserValue">
											<option value="" disabled="disabled">{{ 'Select user' | translate }}</option>
											<option data-ng-repeat="user in users" value="{{user.ID}}">
												{{user.firstname}}
											</option>
										</select>
									</div>
									<div class="col-md-2 text-right padding-top-5">
										{{ 'Due date' | translate }}
									</div>
									<div class="col-md-3">
										<div class="input-group ui-datepicker">
											<input type="text"
											class="form-control date-picker"
											datepicker-popup="dd/MM/yyyy"
											ng-model="newTask.dueDate"
											is-open="newTask.datePopupOpen"
											ng-required="true"
											ng-click="newTask.datePopupOpen=true"
											close-text="{{ 'Close' | translate }}">
										</div>
									</div>
									<div class="col-md-2">
										<input type="submit" class="btn btn-warning btn-block" value="{{ 'Add' | translate }}">
									</div>
								</div>
							</div>
						</form>
						<section>
							<ul class="filters list-inline nav nav-tabs">
								<li data-ng-class="{active: statusFilter == ''}">
									<a href="" data-toggle="tab" data-ng-click="filter('all')">
										{{ 'All' | translate }}
									</a>
								</li>
								<li data-ng-class="{active: statusFilter.isCompleted == false }">
									<a href="" data-toggle="tab" data-ng-click="filter('active')">
										{{ 'Open' | translate }}
									</a>
								</li>
								<li data-ng-class="{active: statusFilter.isCompleted == true }">
									<a href="" data-toggle="tab" data-ng-click="filter('isCompleted')">
										{{ 'Completed' | translate }}
									</a>
								</li>
								<li class="pull-right form-group col-md-6">
									<div class="row">
										<div class="col-md-6 padding-left-10 padding-right-5">
											<button class="btn btn-default btn-block" data-ng-click="sort('group')">
											{{ 'Sort by group' | translate }}
											<span data-ng-show="sortType=='group'" >
											<i class="fa" data-ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i>
											</span>
											</button>
										</div>
										<div class="col-md-6 padding-right-10 padding-left-5">
											<button class="btn btn-default btn-block" data-ng-click="sort('dueTime')">
											{{ 'Sort by date' | translate }}
											<span data-ng-show="sortType=='dueTime'">
											<i class="fa" data-ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i>
											</span>
											</button>
										</div>
									</div>
								</li>
							</ul>
						</section>
						<section  data-ng-cloak>
							<ul class="task-list list-unstyled">
								<li data-ng-repeat="task in tasks | orderBy:sortType:reverse | filter:statusFilter track by $index" data-ng-class="{completed: task.isCompleted, editing: task == editedTask}">
									<div class="view">
										<div class="row">
											<div class="col-md-1">
												<input type="checkbox" class="toggle-task" data-ng-model="task.isCompleted" data-ng-change="completed(task)">
											</div>
											<div class="col-md-2">
												<label data-ng-click="edit(task)">
													{{ task.assignedByUser }}
												</label>
											</div>
											<div class="col-md-5">
												<label data-ng-click="edit(task)">
													{{ task.description }}
												</label>
											</div>
											<div class="col-md-3" data-ng-class="{'text-danger':task.overdue, 'text-success':(!task.overdue)}">
												<label data-ng-click="edit(task)">
													<small>({{ task.dueTimeString }})</small>
												</label>
											</div>
											<div class="col-md-1">
												<span class="glyphicon glyphicon-pencil" data-ng-click="edit(task)"></span>
												<span class="glyphicon glyphicon-remove" data-ng-click="remove(task, $index)"></span>
											</div>
										</div>
									</div>
									<div class="edit">
										<div class="row">
											<div class="col-md-3">
												<select class="form-control" data-ng-model="task.assignedByUserValue">
													<option data-ng-repeat="user in users" value="{{user.ID}}">{{user.firstname}}</option>
												</select>
											</div>
											<div class="col-md-5">
												<input type="text" class="form-control" data-ng-trim="false" data-ng-model="task.description" data-task-focus="task == editedTask">
											</div>
											<div class="col-md-3">
												<div class="input-group ui-datepicker">
													<input type="text"
													class="form-control date-picker"
													datepicker-popup="dd/MM/yyyy"
													ng-model="task.dueDate"
													is-open="task.datePopupOpen"
													date-disabled="disabled(date, mode)"
													ng-required="true"
													ng-click="task.datePopupOpen=true"
													close-text="{{ 'Close' | translate }}">
												</div>
											</div>
											<div class="col-md-1">
												<span class="glyphicon glyphicon-ok" data-ng-click="doneEditing(task, $index)"></span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</section>
						<!-- end Datepicker -->
						<footer class="task-footer">
							<ul class="list-inline clearfix">
								<li class="first-item">
									<input type="checkbox" id="toggle-all" data-ng-model="allChecked" data-ng-change="markAll(allChecked)">
									<label for="toggle-all">Mark all as done</label>
								</li>
								<li class="text-center">
									<span>
									<strong>{{openTasks}}</strong>
									<span class="text-muted" data-ng-pluralize count="openTasks" when="{one: 'item left', other: 'items left'}"></span>
									</span>
								</li>
								<li class="text-right">
									<span class="clear-completed" data-ng-show="openTasks < tasks.length">Completed ({{tasks.length - openTasks}})</span>
								</li>
							</ul>
						</footer>
						
					</section>
				</div>
				<div class="col-md-3">
					<div class="alert alert-info">
						<strong>{{ 'Task statistics' | translate }}</strong>
						<hr>
						<p><strong>Overdue tasks</strong>: {{ overdueTasks }}</p>
						<p><strong>Open tasks</strong>: {{ openTasks }}</p>
						<p><strong>Closed tasks</strong>: {{ closedTasks }}</p>
					</div>
					<div class="alert alert-info">
						<strong>{{ 'More stats' | translate }}</strong>
						<hr>
						<p>Later</p>
						<hr>
						<p><a class="btn btn-info btn-block">{{ 'View more...' | translate}}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>