<section id="content" class="animate-fade-up" ng-controller="MyTasksCtrl">
	<div class="view-container">
		<div class="page page-tasks">
			<div class="row">
				<div class="col-sm-9">
					<div class="clearfix"></div>
					<section class="task-container">
						<!-- Add new task -->
						<form ng-submit="add()" class="add-task">
							<div class="panel panel-default">
								<div class="panel-heading">
									{{ 'Create new task' | translate }}
								</div>
								<div class="margin-top-20 clearfix"></div>
								<div class="col-md-2 text-right padding-top-5">
									{{ 'Description' | translate }}
								</div>
								<div class="col-md-10">
									<input type="text" placeholder="{{ 'Description' | translate }}" class="form-control" ng-model="newTask.description" autofocus>
								</div>
								<div class="margin-bottom-10 clearfix"></div>
								<div class="col-md-2 text-right padding-top-5">
									{{ 'Assigned to' | translate }}
								</div>
								<div class="col-md-3">
									<select
										ng-options="user.id as user.firstname for user in users"
										ng-model="newTask.owner"
										class="form-control"></select>
								</div>
								<div class="col-md-2 text-right padding-top-5">
									{{ 'Due date' | translate }}
								</div>
								<div class="col-md-3">
									<div class="input-group ui-datepicker">
										<input type="text"
										class="form-control date-picker"
										datepicker-popup="dd/MM/yyyy"
										ng-model="newTask.dueDate"
										is-open="newTask.datePopupOpen"
										ng-required="true"
										ng-click="newTask.datePopupOpen=true"
										close-text="{{ 'Close' | translate }}">
									</div>
								</div>
								<div class="col-md-2">
									<input type="submit" class="btn btn-warning btn-block" value="{{ 'Add' | translate }}">
								</div>
								<div class="margin-bottom-20 clearfix"></div>
							</div>
						</form>
						<!-- Task list -->
						<div class="panel panel-default">
							<section>
								<ul class="filters list-inline nav nav-tabs">
									<li ng-class="{active: statusFilter == ''}">
										<a href="" data-toggle="tab" ng-click="filter('all')">
											{{ 'All' | translate }}
										</a>
									</li>
									<li ng-class="{active: statusFilter.isCompleted == false }">
										<a href="" data-toggle="tab" ng-click="filter('active')">
											{{ 'Open' | translate }}
										</a>
									</li>
									<li ng-class="{active: statusFilter.isCompleted == true }">
										<a href="" data-toggle="tab" ng-click="filter('isCompleted')">
											{{ 'Completed' | translate }}
										</a>
									</li>
									<li class="pull-right form-group col-md-6">
										<div class="row">
											<div class="col-md-6 padding-left-15 padding-right-5">
												<button class="btn btn-default btn-block" ng-click="sort('group')">
												{{ 'Sort by group' | translate }}
												<span ng-show="sortType=='group'" >
												<i class="fa" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i>
												</span>
												</button>
											</div>
											<div class="col-md-6 padding-right-20 padding-left-0">
												<button class="btn btn-default btn-block" ng-click="sort('dueDate')">
												{{ 'Sort by date' | translate }}
												<span ng-show="sortType=='dueDate'">
												<i class="fa" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i>
												</span>
												</button>
											</div>
										</div>
									</li>
								</ul>
							</section>
							<section ng-cloak>
								<ul class="task-list list-unstyled col-md-12">
									<li ng-repeat="task in tasks | orderBy:sortType:reverse | filter:statusFilter track by $index" ng-class="{completed: task.isCompleted, editing: task == editedTask}">
										<div class="callout" ng-class="{'callout-danger': task.isCompleted, 'callout-success': !task.isCompleted}">
											<div class="view">
												<div class="row">
													<div class="col-md-2">
														<label ng-click="edit(task)">
															{{ usersById[task.owner].firstname }}
														</label>
													</div>
													<div class="col-md-5">
														<label ng-click="edit(task)">
															{{ task.description }}
														</label>
													</div>
													<div class="col-md-3" ng-class="{'text-danger':task.overdue, 'text-success':(!task.overdue)}">
														<label ng-click="edit(task)">
															<small>({{ ago(task.dueDate) }})</small>
														</label>
													</div>
													<div class="col-md-2">
														<span class="glyphicon"
															ng-class="{'glyphicon-ok':!task.isCompleted, 'glyphicon-unchecked':task.isCompleted}"
															ng-click="completed(task)"></span>
														<span class="glyphicon glyphicon-pencil" ng-click="edit(task)"></span>
														<span class="glyphicon glyphicon-remove" ng-click="remove(task, $index)"></span>
													</div>
												</div>
											</div>
											<div class="edit">
												<div class="col-md-3">
													<select
														ng-options="user.id as user.firstname for user in users"
														ng-model="task.owner"
														class="form-control"></select>
												</div>
												<div class="col-md-5">
													<input type="text" class="form-control" ng-trim="false" ng-model="task.description" data-task-focus="task == editedTask">
												</div>
												<div class="col-md-3">
													<div class="input-group ui-datepicker">
														<input type="text"
														class="form-control date-picker"
														datepicker-popup="dd/MM/yyyy"
														ng-model="task.dueDate"
														is-open="task.datePopupOpen"
														date-disabled="disabled(date, mode)"
														ng-required="true"
														ng-click="task.datePopupOpen=true"
														close-text="{{ 'Close' | translate }}">
													</div>
												</div>
												<div class="col-md-1">
													<span class="glyphicon glyphicon-ok" ng-click="doneEditing(task, $index)"></span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</li>
								</ul>
							</section>
							<footer class="task-footer">
								<ul class="list-inline clearfix">
									<li class="first-item">
										<input type="checkbox" id="toggle-all" ng-model="allChecked" ng-change="markAll(allChecked)">
										<label for="toggle-all">Mark all as done</label>
									</li>
									<li class="text-center">
										<span>
										<strong>{{openTasks}}</strong>
										<span class="text-muted" ng-pluralize count="openTasks" when="{one: 'item left', other: 'items left'}"></span>
										</span>
									</li>
									<li class="text-right">
										<span class="clear-completed" ng-show="openTasks < tasks.length">Completed ({{tasks.length - openTasks}})</span>
									</li>
								</ul>
							</footer>
						</div>
					</sections>
				</div>
				<!-- Statistic -->
				<div class="col-md-3">
					<div class="panel mini-box">
						<span class="box-icon bg-danger">
						<i class="fa fa-warning"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">{{ overdueTasks }}</p>
							<p class="text-muted">{{ 'Tasks overdue' | translate}}</p>
						</div>
					</div>
					<div class="panel mini-box">
						<span class="box-icon bg-warning">
						<i class="fa fa-edit"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">{{ openTasks }}</p>
							<p class="text-muted">{{ 'Tasks open' | translate}}</p>
						</div>
					</div>
					<div class="panel mini-box">
						<span class="box-icon bg-success">
						<i class="fa fa-check"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">{{ closedTasks }}</p>
							<p class="text-muted">{{ 'Tasks closed' | translate}}</p>
						</div>
					</div>
					<div class="panel mini-box">
						<strong>{{ 'More stats' | translate }}</strong>
						<hr>
						<p>Later</p>
						<hr>
						<p><a class="btn btn-info btn-block">{{ 'View more...' | translate}}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>