<header class="clearfix">
	<a href="#/" data-toggle-min-nav
		class="toggle-min"
	><i class="fa fa-bars"></i></a>
	<!-- Logo -->
	<div class="logo">
		<a href="#/">
			<span>{{main.brand}}</span>
		</a>
	</div>
	<!-- needs to be put after logo to make it working-->
	<div class="menu-button" toggle-off-canvas>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
	<div class="top-nav">
		<ul class="nav-right pull-right list-unstyled">
			<li class="dropdown langs text-normal" data-ng-controller="LangCtrl">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					{{lang}}
				</a>
				<ul class="dropdown-menu with-arrow pull-right list-langs" role="menu">
					<li data-ng-show="lang !== 'English' ">
						<a href="javascript:;" data-ng-click="changeLang('English', 'en')"><div class="flag flags-american"></div> English</a>
					</li>
					<li data-ng-show="lang !== 'Suomi' ">
						<a href="javascript:;" data-ng-click="changeLang('Suomi', 'fi')"><div class="flag flags-finland"></div> Suomi</a>
					</li>
					<li data-ng-show="lang !== 'Svenska' ">
						<a href="javascript:;" data-ng-click="changeLang('Svenska', 'sv')"><div class="flag flags-sweden"></div> Svenska</a>
					</li>
				</ul>
			</li>
			<li class="dropdown text-normal nav-profile">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img data-ng-cloak data-ng-src="{{user.avatar}}" alt="" class="img-circle img30_30">
					<span class="hidden-xs">
					<span>{{user.firstname}}</span></span>
				</a>
				<ul class="dropdown-menu with-arrow pull-right">
					<li>
						<a ui-sref="user.Profile">
							<i class="fa fa-user"></i>
							<span>{{ 'My Profile' | translate }}</span>
						</a>
					</li>
					<li>
						<a ui-sref="user.ProfileUpdate">
							<i class="fa fa-user"></i>
							<span>{{ 'Update Profile' | translate }}</span>
						</a>
					</li>
					<li>
						<a ui-sref="user.ChangePassword">
							<i class="fa fa-key"></i>
							<span>{{ 'Change Password' | translate }}</span>
						</a>
					</li>
					<li>
						<a ui-sref="auth.SignOut">
							<i class="fa fa-sign-out"></i>
							<span>{{ 'Log Out' | translate }}</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</header>