<div id="nav-wrapper">
	<ul id="nav"
		ng-controller="NavCtrl"
		data-collapse-nav
		data-slim-scroll
		data-highlight-active>
		<li ng-show="$stateHistory.length > 1"><a ng-click="back()"><i class="fa fa-arrow-left"><span class="icon-bg bg-danger"></span></i><span>{{ 'Back' | translate }}</span> </a></li>
		<li>
			<a ui-sref="user.Profile"><i class="fa fa-user"><span class="icon-bg bg-orange"></span></i><span>{{ 'User' | translate }}</span></a>
			<ul>
				<li><a ui-sref="user.Profile"><i class="fa fa-caret-right"></i><span>{{ 'Profile' | translate }}</span></a></li>
				<li><a ui-sref="user.ProfileUpdate"><i class="fa fa-caret-right"></i><span>{{ 'Update Profile' | translate }}</span></a></li>
				<li><a ui-sref="user.ChangePassword"><i class="fa fa-caret-right"></i><span>{{ 'Change Password' | translate }}</span></a></li>
				<li><a ui-sref="user.SendFeedback"><i class="fa fa-caret-right"></i><span>{{ 'Send Feedback' | translate }}</span></a></li>
				<li><a ui-sref="user.SendEmail"><i class="fa fa-caret-right"></i><span>{{ 'Send Email' | translate }}</span></a></li>
			</ul>
		</li>
		<li>
			<a ui-sref="main.Home"><i class="fa fa-tasks"><span class="icon-bg bg-warning"></span></i><span>{{ 'Main' | translate }}</span></a>
			<ul>
				<li><a ui-sref="main.Home"><i class="fa fa-caret-right"></i><span>{{ 'Main' | translate }}</span></a></li>
				<li><a ui-sref="main.MyTasks"><i class="fa fa-caret-right"></i><span>{{ 'My Tasks' | translate }}</span></a></li>
			</ul>
		</li>
	</ul>
</div>