<section id="content" class="animate-fade-up" ng-controller="ProfileCtrl">
	<div class="view-container">
		<div class="page page-profile">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-profile">
						<div class="panel-heading bg-primary clearfix">
							<a href="" class="pull-left profile">
								<img alt="" ng-src="{{me.avatar}}" class="img-circle img80_80">
							</a>
							<h3> {{me.firstname}} {{me.lastname}}</h3>
							<p>{{me.title}}</p>
						</div>
						<div class="media">
							<div class="media-body">
								<ul class="list-unstyled list-info">
									<li>
										<i class="icon fa fa-user"></i>
										<label>{{ 'First name' | translate }}</label>
										{{me.firstname}}
									</li>
									<li>
										<i class="icon fa fa-user"></i>
										<label>{{ 'Last name' | translate }}</label>
										{{me.lastname}}
									</li>
									<li>
										<i class="icon fa fa-user"></i>
										<label>{{ 'Title' | translate }}</label>
										{{me.title}}
									</li>
									<li>
										<i class="icon fa fa-envelope"></i>
										<label>{{ 'Email' | translate }}</label>
										{{me.email}}
									</li>
									<li>
										<i class="icon fa fa-facebook"></i>
										<label>{{ 'Facebook' | translate }}</label>
										<a ng-href="{{me.link}}" target="_blank">{{ 'Link' | translate }}</a>
									</li>
									<li>
										<i class="icon fa fa-flag"></i>
										<label>{{ 'Nationality' | translate }}</label>
										{{me.country}}
									</li>
									<li>
										<a class="btn btn-primary btn-block" ui-sref="me.ProfileUpdate">{{ 'Update Profile' | translate }}</a>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<section class="panel panel-box">
								<div class="panel-top bg-facebook">
									<div class="divider divider"></div>
									<i class="fa fa-facebook size-h1"></i>
									<div class="divider divider"></div>
								</div>
								<div class="list-justified-container">
									<ul class="list-justified text-center">
										<li>
											<p class="size-h3">575</p>
											<p class="text-muted">Followers</p>
										</li>
										<li>
											<p class="size-h3">23</p>
											<p class="text-muted">Following</p>
										</li>
									</ul>
								</div>
							</section>
						</div>
						<div class="col-sm-6">
							<section class="panel panel-box">
								<div class="panel-top bg-twitter">
									<div class="divider divider"></div>
									<i class="fa fa-twitter size-h1"></i>
									<div class="divider divider"></div>
								</div>
								<div class="list-justified-container">
									<ul class="list-justified text-center">
										<li>
											<p class="size-h3">575</p>
											<p class="text-muted">Followers</p>
										</li>
										<li>
											<p class="size-h3">23</p>
											<p class="text-muted">Following</p>
										</li>
									</ul>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-info">
								<i class="fa fa-arrow-circle-right"></i>
								</span>
								<div class="box-info">
									<p class="text-muted">{{'Assigned' | translate}}</p>
									<p class="size-h3">{{ assignedTasks }}</p>
									<p class="text-muted">{{'tasks' | translate}}</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-warning">
								<i class="fa fa-arrow-circle-left"></i>
								</span>
								<div class="box-info">
									<p class="text-muted">{{'Own' | translate}}</p>
									<p class="size-h3">{{ ownedTasks }}</p>
									<p class="text-muted">{{'tasks' | translate}}</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-success">
								<i class="fa fa-check"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{ completedTasks }}</p>
									<p class="text-muted">{{'Completed tasks' | translate}}</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-danger">
								<i class="fa fa-ambulance"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{ overdueTasks }}</p>
									<p class="text-muted">{{'Overdue tasks' | translate}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-primary">
								<i class="fa fa-calendar"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{ meetingInvolved }}</p>
									<p class="text-muted">{{'Meeting get involved' | translate}}</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-warning">
								<i class="fa fa-clock-o"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{ meetingComing }}</p>
									<p class="text-muted">{{'Meeting is coming' | translate}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-success">
								<i class="fa fa-users"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{ groupInvolved }}</p>
									<p class="text-muted">{{'Group get involved' | translate}}</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel mini-box">
								<span class="box-icon bg-info">
								<i class="fa fa-check"></i>
								</span>
								<div class="box-info">
									<p class="size-h2">{{organizationInvolved}}</p>
									<p class="text-muted">{{'Organization get involved' | translate}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>