<div data-ng-controller="ProfileCtrl">
	<aside id="nav-container">
		<div id="nav-wrapper">
			<ul id="nav" data-collapse-nav data-slim-scroll data-highlight-active>
				<li><a data-ng-click="back()"><i class="fa fa-arrow-left"><span class="icon-bg bg-danger"></span></i><span data-i18n="Back"></span> </a></li>
				<li><a ui-sref="auth.ChangePassword"><i class="fa fa-key"><span class="icon-bg bg-warning"></span></i><span data-i18n="Change Password"></span> </a></li>
				<li><a ui-sref="user.SendFeedback"><i class="fa fa-envelope"><span class="icon-bg bg-info"></span></i><span data-i18n="Send Feedback"></span> </a></li>
			</ul>
		</div>
	</aside>
	<section id="content" class="animate-fade-up">
		<div class="view-container">
			<div class="page page-profile">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-profile">
							<div class="panel-heading bg-primary clearfix">
								<a href="" class="pull-left profile">
									<img alt="" ng-src="{{user.avatar}}" class="img-circle img80_80">
								</a>
								<h3>{{main.name}}</h3>
								<p>{{user.title}}</p>
							</div>
							<div class="media">
								<div class="media-body">
									<ul class="list-unstyled list-info">
										<li>
											<i class="icon fa fa-user"></i>
											<label>Firstname</label>
											{{user.first_name}}
										</li>
										<li>
											<i class="icon fa fa-user"></i>
											<label>Lastname</label>
											{{user.last_name}}
										</li>
										<li>
											<i class="icon fa fa-user"></i>
											<label>Title</label>
											{{user.title}}
										</li>
										<li>
											<i class="icon fa fa-envelope"></i>
											<label>Email</label>
											{{user.email}}
										</li>
										<li>
											<i class="icon fa fa-facebook"></i>
											<label>Facebook</label>
											<a ng-href="{{user.link}}" target="_blank">Facebook page</a>
										</li>
										<li>
											<i class="icon fa fa-flag"></i>
											<label>Nationality</label>
											{{user.country}}
										</li>
									</ul>
									
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<section class="panel panel-box">
									<div class="panel-top bg-facebook">
										<div class="divider divider"></div>
										<i class="fa fa-facebook size-h1"></i>
										<div class="divider divider"></div>
									</div>
									<div class="list-justified-container">
										<ul class="list-justified text-center">
											<li>
												<p class="size-h3">575</p>
												<p class="text-muted">Followers</p>
											</li>
											<li>
												<p class="size-h3">23</p>
												<p class="text-muted">Following</p>
											</li>
										</ul>
									</div>
								</section>
							</div>
							<div class="col-sm-6">
								<section class="panel panel-box">
									<div class="panel-top bg-twitter">
										<div class="divider divider"></div>
										<i class="fa fa-twitter size-h1"></i>
										<div class="divider divider"></div>
									</div>
									<div class="list-justified-container">
										<ul class="list-justified text-center">
											<li>
												<p class="size-h3">575</p>
												<p class="text-muted">Followers</p>
											</li>
											<li>
												<p class="size-h3">23</p>
												<p class="text-muted">Following</p>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="panel mini-box">
									<span class="box-icon bg-danger">
									<i class="fa fa-film"></i>
									</span>
									<div class="box-info">
										<p class="size-h2">39</p>
										<p class="text-muted">Amazing Films</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="panel mini-box">
									<span class="box-icon bg-warning">
									<i class="fa fa-camera"></i>
									</span>
									<div class="box-info">
										<p class="size-h2">63</p>
										<p class="text-muted">Wonderful Photos</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="panel mini-box">
									<span class="box-icon bg-success">
									<i class="fa fa-bookmark-o"></i>
									</span>
									<div class="box-info">
										<p class="size-h2">55</p>
										<p class="text-muted">New Collections</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="panel mini-box">
									<span class="box-icon bg-info">
									<i class="fa fa-check"></i>
									</span>
									<div class="box-info">
										<p class="size-h2">34</p>
										<p class="text-muted">Tasks Finised</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>