<div class="message-wrap col-lg-8">
	<div class="msg-wrap">
		<h1>Comment group list for user whose id is {{ userid }}</h1>
		<div ng-repeat="(key, group) in groups">
			<div class="col-xs-2">{{ key+1 }}</div>
			<div class="col-xs-10"><a href="#/comment/{{ key }}">View comment for group {{ key+1 }}</a></div>
			<div class="col-xs-10 col-xs-offset-2">User id in group: 
				<span ng-repeat="user_id in group.user_ids">{{ user_id }}, </span>
			</div>
			<div class="clearfix"></div>
			<hr>
		</div>
	</div>
</div>